 body {
    font-family: Arial, Helvetica, sans-serif;
    width:800px;
    margin:auto;
    ;
}
p,li,#user {
    color: rgb(181, 245, 236);
}
a { 
    color:#FFF;
    text-decoration:none;
}

a:hover {  
    text-decoration:underline;
}

#user {float:right; }

body {
    background: url(../images/background_image.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50;
    height: 100vh;
  }